@import 'tailwindcss';

@theme {
  --color-weather-primary: #0b0b1e;
  --color-weather-secondary: #1e1e3f;
  --color-weather-accent: #48319d;
  --color-weather-text: #ffffff;
  --background-image-weather-gradient: linear-gradient(to bottom, #2e335a, #1c1b33);
}

body {
  @apply bg-weather-primary text-weather-text font-sans;
  margin: 0;
  padding: 0;
}
